* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#lang{
  position: relative;
  bottom: 200px;
  left: 142px;
  border: none;
  background: white;
}
.center {
  width: 350px;
}
.center .header {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.center .inputElement {
  display: flex;
  flex-direction: column;
  margin: 0px 37px 0px 37px;
}

.inputElement .inputText {
  padding: 8px;
  font-size: 10px;
  background: #EDEDED;
  margin-top: 10px;
  border: solid #CACBC8;
  border-radius: 10px;
}
.inputText:focus {
  outline: gray;
}
.forgetPassword{
  font-size: 13px;
}

.inputButton {
  background-color: rgb(5, 117, 223);
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
}
.line {
  display: flex;
  margin-top: 6px;
}
.arrow {
  background-color: gray;
  height: 1px;
  width: 140px;
}
.content {
  color: gray;
  margin-top: -7px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 12px;
}
.social__icon {
  background: #00C6FF;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.social__icon i{
  
}
.fab {
  padding: 5px;
  color: rgb(0, 55, 107);
}
.social__icon span {
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.forgetPassword {
  margin: auto;
  color: rgb(101, 178, 250);
  margin-bottom: 25px;
}
.footer {
  margin-top: 30px;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px;
  width: 400px;
  position: relative;
  top: 160px;
  align-items: center;
  text-align: center;
}
.footer p{
  color: #939492;
  font-size: 13px;
}
.footer span{
  color: rgb(0, 66, 128);
  font-weight: 700;
}
input[type="text"],
input[type="password"],
button {
	appearance: none;
	outline: none;
	border: none;
	background: none;
}

input[type="text"],
input[type="password"] {
	display: block;
	padding: 8px;
  font-size: 10px;
  background: #EDEDED;
  margin-top: 10px;
  border: solid #CACBC8;
  border-radius: 10px;
	width: 100%;
	transition: border-color 0.3s ease-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #2b2d2f;
}

.button {
	display: block;
	width: fit-content;
	margin-left: auto;
	cursor: pointer;
	background-color: #2b2d2f;
	color: #FFF;
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	transition: background-color 0.3s ease-out;
}

.button:hover {
	background-color: crimson;
}

.passwd-wrap {
	position: relative;
}

#show-passwd {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
	width: 1.5rem;
	display: flex;
	align-items: center;
}

#show-passwd img {
	width: 100%;
	height: auto;
}